<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
  	<bean id="personDao" class="com.itheima12.spring.aop.xml.transaction.PersonDaoImpl"></bean>
  	<bean id="transaction" class="com.itheima12.spring.aop.xml.transaction.Transaction"></bean>
  	
  	<aop:config>
  		<!-- 
  			切入点表达式  确定目标类
  		 -->
  		<aop:pointcut 
  			expression="execution(* com.itheima12.spring.aop.xml.transaction.PersonDaoImpl.*(..))" 
  			id="perform"/>
  		<!-- 
  			ref指向的对象就是切面
  		 -->
  	    <aop:aspect ref="transaction">
  	    	<aop:before method="beginTransaction" pointcut-ref="perform"/>
  	    	<aop:after-returning method="commit"  pointcut-ref="perform"/>
  	    </aop:aspect>
  	</aop:config>
</beans>