<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
           
           <!-- 
           		首先加载类
           -->
  	<bean id="personService" class="com.itheima12.spring.aop.xml.privilege.service.impl.PersonServiceImpl"></bean>
  	
  	<bean id="privilegeAspect" class="com.itheima12.spring.aop.xml.privilege.aspect.PrivilegeAspect"></bean>
  	
  	<aop:config>
  	
  		<aop:pointcut 
  			expression="execution(* com.itheima12.spring.aop.xml.privilege.service.impl.*.*(..))" 
  			id="perform"/>
  			
  		<aop:aspect ref="privilegeAspect">
  			<aop:around method="isAccessMethod" pointcut-ref="perform"/>
  		</aop:aspect>
  		
  	</aop:config>
</beans>